html,body{
	background-image: none!important;
	background-color: #f5f5f5!important;
}
.bloco{
	margin-top: 50px!important;
}
.photo-avatar{
	background-color: #fff;
	max-width: 100px;
	max-height: 100px
}
.bloco-left{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #262626;
	color:  #fff;
}
.imo-h4{
	color: #ff9947!important;
}
h1{
    font-size: 40pt!important;
    margin-bottom: 25px!important;
}
.ps{
    font-size: 18pt!important;
}
.caixa-mensagem{

}
.header-mensagem{
	background-color: #ff9947;
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 10px;
	border: 1px solid #ee6e06;
	text-align: justify;
	text-indent: 15px;
}
.body-mensagem{
	border: 1px solid #dcdcdc;
	background-color: #f8f8f8;
}
.mensagem-mm{
	border-left: 3px solid #ee6e06!important;
	border-top: 1px solid #ff9947!important;
	border-bottom: 1px solid #ff9947!important;
	border-right: 1px solid #ff9947!important;
}
.footer{
    border-top: 1px solid #474747;
}
.bloco-left p{
	font-size: 15px;
}
.img-icons{
	width: 126px;
	height: 126px;
}
.caixa{
	padding: 60px 0px;
	transition: 0.8s all;
}
.caixa:hover{
	background-color: #999999;
	color: #eeeeee;
}
.text-fig{
	font-size: 20px
}
.bloco-left ul{
	text-decoration: none;
	list-style: none;
	padding: 0px!important;
	margin: 0px!important;
}
.bloco-left li{
	font-size: 20px;
	padding: 10px 10px 10px 10px!important;
	transition: 0.5s all;

}
.bloco-left li span{
	font-size: 20px;
	padding: 10px 10px 10px 10px!important;
	transition: 0.5s all;
}
.bloco-left li a{
	color: #dcdcdc;
	text-decoration: none;
	transition: 0.5s all;
}
.bloco-left li:hover{
	background-color: #424141;
}
.func{
	padding: 0px!important;
}
.hehe{
	margin: 10px 0px 0px 0px;
	border-top: 1px #424141 solid;
	border-bottom: 1px #424141 solid;
	background-color: #161616;
	color: #fff;
}
.laranja{
	background-color: #ff9947;
	padding: 10px 0px 10px 0px
}
.laranja h3{
	font-size: 18px;
}
.cun{
		background-color: #161616;
	color: #fff;
	display: none;
}
@media(min-width: 1px) and (max-width: 767px){
	.cun{
		display: inline-grid;
	}
	.can{
		display: none;
	}
	.bloco{
		margin-top: 0px!important;
	}
	.photo-avatar{
		background-color: #fff;
		max-width: 100px;
		max-height: 100px;
	}
}
