body {
   background: url(../img/ll.jpg) repeat center center scroll;
  /*#33CC66; 
  
  //#F7F7F7;)*/
}

#blocoLogin {
	width:450px;
	margin:35px auto 0 auto;
	 /*background: url(../img/ll.jpg) repeat center center scroll;*/
}

#falhaLogin {
	text-align:center;
	font-weight:bolder;
	display:none;
}

#sucessoLogin {
	text-align:center;
	font-weight:bolder;
	display:none;
}

#box{
	width:400px;
	height:400px;
	z-index:-1;
	background-color:gray;
	
}
table#tabela{
	width:100%;
	height:100%;
	
/*border:2px solid red;
    background:black;*/
}
table#tabela tr{
background:black;
}
table#tabela .titulo{
  border:1px solid gray;
  text-align:center;
  background:black;
  color:white;
  font-weight:bold;
  width:8%;
  height:auto;
  font-size: 100%;
}
table#tabela .cont{
  border:1px solid gray;
  text-align:center;
  background:gray;
  color:white;
  font-weight:bold;
  width:8%;
  height:auto;
  font-size: 100%;
}
table#tabela .cont1{
  border:1px solid gray;
  text-align:center;
  background:white;
  color:black;
  font-weight:bold;
  width:8%;
  height:auto;
  font-size: 100%;
}
.container p.cons{
	border: 1px solid black;
	padding-left:50px;
	padding-top:10px;
	margin-left:350px;
	width:600px;
	font-size:15pt;
	text-align:left;
	background-color:#EEEED1;
	
}
/*#numero{
	font-size: 16pt;
	color: red;
	text-align:left;
}
#numero a:link, a:visited {
	text-decoration: none;
	color: #f00;
	}
#numero a:hover {
	text-decoration: underline; 
	color: #f00;
	}
#numero a:active {
	text-decoration: none;
	}
	*/